# Cache e arquivos internos do Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/appearance.json

# Cache de plugins (ex: Databases, Full Calendar, etc.)
.obsidian/plugins/*/*.cache
.obsidian/plugins/*/data.json

# Arquivos de Sistema
.DS_Store
Thumbs.db

*.log
*.json
Notas/Bíblia/*.csv